/*1000px responsive */
@media only screen and (max-width: 768px) {


  .container
  {
    display: flex;
    background: rgba(255, 255, 255, 0.466);
    justify-content: center;
    align-content: center;
    text-align: center;
    width:46%;
    height: 230%;
    margin-left: 6rem;
    margin-top: -1rem;
    border: solid 1px black;
    font-size: 10px;
    border: none;
  }

  .container2
  {
    display: none;
    /* display: flex; */
    background: rgba(250, 250, 250, 0.466);
    justify-content: center;
    align-content: center;
    text-align: center;
    width:71.9%;
    height: 230%;
    margin-left: 10rem;
    margin-top: -1rem;
    border: solid 1px black;
    font-size: 10px;
  }


  .container3 
  {
    display: none;
    /* display: flex; */
    background: rgba(255, 255, 255, 0.466);
    justify-content: center;
    align-content: center;
    text-align: center;
    width:98.4%;
    height: 230%;
    margin-left: 10rem;
    margin-top: -1rem;
    border: solid 1px black;
    font-size: 10px;
    margin-right: 20rem;
  } 

.navv1
{
  display: none;
margin-right: 15rem;
}



.nav1space
{
  display: none;
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  margin-left: 2rem;
  background: rgb(0, 0, 0);
  font-size: 16px;
  line-height: 12px;
}

#nav1li
{
  display: none;
  background: rgb(0, 0, 0);
  margin-left: 0px!important;
  padding: 10px 15px;
}
  .nav1
  {
    display: none;
    /* display: flex; */
    flex-direction: row;
    justify-content:flex-start ;
    background: rgb(0, 0, 0);
    padding: .5rem;
    color: white;
    width: 100vw;
    padding-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 4rem;
  }
  
  .bloomberimg
{
  margin-left: 2.8rem;
  width: 40%
}

.nav2button
{
  display: inline-block;
  background: rgb(255, 255, 255);
  border: none;
  padding: none;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  margin-left: -10rem;
}



  
  .nav2
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background: rgb(0, 0, 0);
  color: white;
  text-decoration: none;
padding:.5rem 6rem ;
list-style: none;
margin-top: -0.6rem;
width:100%;
margin-bottom: 40px;
margin-left: -1rem;
}

.no-display
{
  display: none;
}
.nav2right
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  align-items: center;
  padding: 0.1rem;
  font-size: 15px;
width: 100%;  
margin-left:15rem;
margin-top: -2px;
border-radius: 5px;
} 

.bloomberimg
{
  
  width: 50vw;
  height: 3vh;
  margin-left: -1.5rem;
}

.nav3
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
  margin-top: 34.2rem;
  border: solid black 1px;
  list-style: none;
  margin-left: 10rem;
  font-size:20px;
  color: white;
padding-left: 1rem;
}

.nav3-na4
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height:100vh;
  width: 100vw;
  gap: 1rem;
}
  
.nav4
{
  display: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-direction:row;
  background: transparent;
  font-size: 15px;
  list-style: none;
  border: solid 1px black;
margin-top: -95rem;
padding: 20px 15px;
margin-left: 7rem;
width: 100%;
height: 5vh;
color: rgb(0, 0, 0);
border-right: none;
border-left: none;
margin-bottom: 5rem;
} 

.fontsize
{
  font-size: 35px;
  font-weight: bold;
  margin-left: 1rem;
}

.inlineblock
{
  display: inline-block;
  font-size: 12px;
align-content: center;
margin-left: 2rem;
font-weight: bold;
margin-right: 15px;
}

  .grid1
{
  display: grid;
grid-template-rows: repeat(2 ,1fr);
  grid-gap: 2rem;
  text-align: left;
  width: 100%;
  height: 42%;
  margin-left:0rem;
  margin-top: 0rem;
  font-size: 10px !important;
}

.img1
{
  display: none;
}
.grid2
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: -4rem;
  margin-top: 2rem;
  padding: 5px 5px;
}

.grid3
{
  display: none;
  /* display: grid; */
grid-template-columns: 1fr 4fr 2fr ;
margin: 14px 10px;
height: 100vh;
width: 50vw;
text-align: left;
gap: 1rem;
}

.img2
{
height: 50vh;  
margin-top: 1.3rem;
margin-left: 9rem;
}

.grid5
{
  display: grid;
  grid-template-columns: none;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  height: 50vh;
  width: 100vw;
  margin-left: 10rem;
  font-size: 15px;
  z-index: 1;
  margin-bottom: 5rem;
  height: 100vh;
}

.grid5new
{
  margin-top: 10rem;
}

.grid6
{
  display: grid;
  grid-template-columns: none;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  height:100vh;
  width: 100vw;
  margin-top: 2rem;
  align-items: left;
  justify-content: center;
  align-content: space-between;
  font-size: 22px;
  padding-left: 45px;
  margin-left: 9rem;
}


.grid7
{
  display: grid;
  grid-template-columns: none;
  grid-template-rows: repeat(2,1fr)!important;
  margin-left: 10rem;
  gap: 2rem;
  height: 100vh;
  width: 100vw;
  align-items: center;
  align-content: center;
  justify-content: center;
  align-content: space-between;
  font-size: 1.3rem;
  margin-top: 2rem;
}

.padding-grid7
{
padding-left: 5rem;
}

.grid3
{
  display: grid;
  grid-template-columns: none;
  grid-template-rows: repeat(3,1fr);
/* grid-template-columns: 1fr 4fr 2fr ; */
margin: 10px 10px;
height: 100vh;
width: 73.5vw;
text-align: left;
gap: 1rem;
}

.grid9
{
  width: 60%;
  margin-right: 20px;
  margin-top: 0.5rem;
  margin-left: 7.5rem;
  font-size: 15px;
  height: 100%;
  margin-bottom: 8rem;
padding-left: 5rem;
}

.latest
{
  color: red;
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 2rem;
}
.grid4
{
  display: grid;
  gap: 0;
  font-size: 20px;
margin-left:7rem;
margin-top: -30rem;
  width: 100%;
  height: 130%;
  align-items: center;
  align-content: center;
  padding-left: 7rem;
  margin-left: 5.7rem;
  margin-bottom: 3rem;
}

/* grid9 + grid4 */
/* .grid-compain
{
  display: grid;
  grid-template-columns: repeat(2,2f 1fr);
} */

.space-grid3
{
  height: 20%;
}









}

@media (min-width: 768px) and (max-width: 1400px)
 {

  .img2
  {
  display: none !important;
  }

  .no
  {
    display: none;
  }

  .grid5
  {
    grid-template-columns: none;
    grid-template-columns: 1fr;
    margin-top: 8rem;
    margin-left: 8rem;
    margin-right: 0;
  }
.grid7
{
  display: grid;
  grid-template-columns: none;
  grid-template-rows: repeat(2,1fr)!important;
  margin-left: 7rem;
  gap: 2rem;
  background: rgb(255, 255, 255);
  height: 40vh;
  width: 50vw;
  align-items: center;
  align-content: center;
  justify-content: center;
  align-content: space-between;
  font-size: 1.3rem;
  margin-top: 2rem;
}

.grid6
{
  display: flex;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3rem;
  background: rgb(255, 255, 255);
  height: 40vh;
  width: 50vw;
  margin-top: 2rem;
  align-items: left;
  justify-content: center;
  align-content: space-between;
  font-size: 1.3rem;
  margin-left: 7rem;
}

.container
{
  border: none;
}
.grid4
{
  grid-template-rows: repeat(8, 1fr);
  background: rgb(255, 255, 255);
  width: 10vw;
  margin-left:30rem;
}

.grid9
{
  width: 12vw;
  background: rgb(255, 255, 255);
  margin-right: 20px;
  margin-left: 3rem;
}

.nav3
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background: rgb(255, 255, 255);
  width: 70%;
  height: 5vh;
  margin-top: -0.1rem;
  border: solid black 1px;
  list-style: none;
  margin-right: 10rem;
  margin-left: 27rem;
}

.nav1
{
  display: flex;
  flex-direction: row;
  justify-content:flex-start ;
  background: rgb(0, 0, 0);
  padding: .5rem;
  color: white;
  width: 140.7vw;
  margin-left: 4rem;
}

.nav2
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: black;
  color: white;
  text-decoration: none;
padding:.5rem 8rem ;
list-style: none;
margin-top: -1rem;
width: 100vw;
margin-left: 4rem;
}

.grid1
{
  display: grid;
  background: rgb(255, 255, 255);
  grid-template-columns: 1.5fr 3fr;
  grid-gap: 2rem;
  text-align: left;
  width: 45%;
  margin-left: 30rem;
}

.nav4
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  align-content: center;
  flex-direction: row;
  background: rgb(255, 255, 255);
  font-size: 15px;
  list-style: none;
  border: solid 1px black;
margin-top: -1rem;
padding: 0.5rem 3.5rem;
margin-left: 27rem;
width: 113vw;
}
}
