* reset{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
height: 100vh;
width: 100vw;
}

.nav1
{
  display: flex;
  flex-direction: row;
  justify-content:flex-start ;
  background: rgb(0, 0, 0);
  padding: .5rem;
  color: white;
}

.nav1space
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2rem;
  background: rgb(0, 0, 0);
  font-size: 16px;
  line-height: 12px;
}

#nav1li
{
  display: inline-block;
  background: rgb(0, 0, 0);
  margin-left: 170px;
}

#nav1yellow
{
color: rgb(255,160,40);
}

.nav2button
{
  display: inline-block;
  background: rgb(255, 255, 255);
  border: none;
  padding: 3px 10px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
}

.nav2border
{
  display: inline-block;
  border: rgb(255, 255, 255) solid 2px;
  padding: 3px 7px;
  border-radius: 5px;
  color: white;
}

.nav2liborder
{
  display: inline-block;
  padding: 3px 7px;
  border-radius: 5px;
  color: white;
}

.nav2
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: black;
  color: white;
  text-decoration: none;
padding:.5rem 8rem ;
list-style: none;
margin-top: -1rem;
}
.nav2right
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background: rgb(0, 0, 0);
  align-items: center;
  padding: 2rem;
  font-size: 18px;
  margin-right: 10rem;
}

.nav2li
{
  margin-right: 2rem;
}
.nav2li:hover
{
  opacity: 0.7;
}

#nav2li
{
margin-left: 2rem;
}

.bloomberimg
{
  margin-left: 2.8rem;
  width: 40%
}

.container
{
  display: flex;
  background: rgb(255, 255, 255);
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 76%;
  height: 230%;
  margin-left: 10rem;
  margin-top: -1rem;
  border: solid 1px black;
}

.nav3
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background: rgb(255, 255, 255);
  width: 73.9vw;
  height: 5vh;
  margin-top: -0.1rem;
  border: solid black 1px;
  list-style: none;
}


.nav3margin
{
  margin-right: 1.5rem;
}

.nav3margin:hover
{
  transform: scale(1.05);
  font-weight: bold
}

.nav4
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  align-content: center;
  flex-direction: row;
  background: rgb(255, 255, 255);
  font-size: 15px;
  list-style: none;
  border: solid 1px black;
margin-top: -1rem;
padding: 0.5rem 3.5rem;
}

.img1
{
  width: 100%;
  height: 100%;
}
.greenspan
{
  color: green;
}

.redspan
{
  color: red;
  font-weight: bold;
}

.fontbold
{
  font-weight: bold;
}


.grid1
{
  display: grid;
  background: rgb(255, 255, 255);
  grid-template-columns: 1.5fr 3fr;
  grid-gap: 2rem;
  text-align: left;
  width: 95%;
  margin-left: 2rem;
}


.inlineblock
{
  display: inline-block;
  font-size: 20px;
align-content: center;
margin-left: 2rem;
}

.inlineblock:hover
{
  text-decoration: underline;
}
.fontsize
{
  font-size: 50px;
  font-weight: bold;
}

.fontsize:hover
{
  text-decoration: underline;
}
.grid2
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: -4rem;
}

#uae
{
  margin-top: -0.3rem;
}

.borderbottom
{
border-bottom: 1px solid black;
}

.grid3
{
  display: grid;
grid-template-columns: 1fr 4fr 2fr ;
background: rgb(255, 255, 255);
margin: 10px 10px;
height: 100vh;
width: 73.5vw;
text-align: left;
gap: 1rem;
}

.latest
{
  color: red;
  font-weight: bold;
  font-size: 2rem;
}

/* side grid 1 */
.grid4
{
  grid-template-rows: repeat(8, 1fr);
  background: rgb(255, 255, 255);
  width: 10vw;
}

.dotted
{
border-bottom: dotted 1px black;
margin-top: 10px;
margin-bottom: 1.5rem;
}

#underline-dotted:hover
{
text-decoration: underline;
}

.top-bottom-border
{
border-bottom: solid black 1px;
border-top: solid black 1px;
}

.top-bottom-dotted
{
border-bottom : dotted 1px black;
border-top: dotted 1px black;
}

.most
{
  font-size: 2rem;
}

.grid5
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: .5rem;
  height: 50vh;
width: 45vw;
margin-left: 20px;
}

.stockfont
{
  font-weight: bold;
  font-size: 1.7rem;
  margin-bottom: 2rem;
  margin-top: -1rem;
}

.img2
{
height: 30vh;  
margin-top: 1.3rem;
margin-left: 1.3rem;
}

.grid6
{
  display: flex;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3rem;
  background: rgb(255, 255, 255);
  height: 40vh;
  width: 50vw;
  margin-top: 2rem;
  align-items: left;
  justify-content: center;
  align-content: space-between;
  font-size: 1.3rem;
}

.padding
{
  padding: 0.2rem;
}

.grid7
{
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  background: rgb(255, 255, 255);
  height: 40vh;
  width: 50vw;
  align-items: left;
  justify-content: center;
  align-content: space-between;
  font-size: 1.3rem;
  margin-top: 2rem;
  margin-left: 1.5rem;
}

.imgs-grid7
{
width: 13vw;
}

.video
{
  color: white;
  background: black;
padding-left: 1rem;
padding-right: 1rem;
}

.fonthead
{
font-size: 15px;
}
.fontbottom
{
font-size: 20px;
padding-bottom: 2.5rem;}

.pic-padding
{
padding-left: 2.3rem;
padding-right: 1rem;
}

.bluefont-grid8
{
color: #0068FF;
}

.bblack
{
  font-weight: bold;
color: black;
text-decoration: underline;
}

.inputname
{
  border: none;
  width: 6vw;
  background: rgb(255, 255, 255);
font-size: 10px;
margin-right: 10px;}

.btn  
{
  background: transparent;
  border: solid 1px black;
 padding: 2px 33px;
}
.btn:hover
{
  background: #e7e7e7;
}

.opacity
{
  opacity: 0.7;
}

.bloom2
{
  display:inline;
  font-size: 30px;
  font-weight: bold;
  padding:6px;
}

.grid8 
{
display: grid;
grid-template-columns: 1fr 1fr;
gap: 1rem;
}

.grid9
{
  width: 12vw;
  background: rgb(255, 255, 255);
  margin-right: 20px;
}

.entername
{
  width: 4vw;
}